<!DOCTYPE html>
<html>
<head>
  <title>OCAD Converter</title>

  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link rel="stylesheet" href="dark2.css">
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">
  <style type="text/css">
    #app {
      min-height: 100vh;
    }
    .map {
      background-color: white;
      width: 100%;
      height: 100vh;
    }
    .column {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 100vh;
    }
    input {
      color: #f2f2f2;
    }
    .im {
      font-size: 1.1rem;
    }
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
      opacity: 0;
    }
  </style>
</head>
<body>
  <div id="app" class="container">
    <div class="row">
      <div class="column column-25">
        <h3>OCAD Viewer / Converter</h3>
        <info></info>
        <upload-form v-bind:loading="loading" v-on:fileselected="selectFile"></upload-form>
        <hr/>
        <file-info v-bind:name="name" v-bind:file="file" v-bind:error="error" v-bind:geojson="geojson"></file-info>
      </div>
      <div class="column column-75">
        <map-view v-bind:layers="layers" v-bind:geojson="geojson"></map-view>
      </div>
    </div>
  </div>

  <script type="text/x-template" id="info-template">
    <div>
      <a href="#" v-on:click="toggle">
        <i class="im im-info"></i> What is this?
      </a>
      <transition name="fade">
        <div v-if="open">
          <p>
            This tool lets you view and convert OCAD files to other formats.
            OCAD is mostly used for orienteering maps.
          </p>
          <p>
            After conversion, you can use the map data in a lot of other
            programs, like for example QGIS, which is a free and open source
            map editing program.
          </p>
          <p>
            This is a work in progress: not every map detail is perfect, and
            only files from OCAD version 10 and up are currently supported.
            More features will be added in the future, so stay tuned (or
            come help out!). 
          </p>
          <p>
            The tool runs strictly in your browser, so the files never leave
            your computer, and is never stored anywhere else, which might be
            good to know if you worry about the files copyright.
          </p>
          <p>
            Source code, report bugs and other technical details:
            <a href="https://github.com/perliedman/ocad2geojson/">
              ocad2geojson on GitHub
            </a> 
          </p>
        </div>
      </transition>
    </div>
  </script>

  <script type="text/x-template" id="upload-form-template">
    <form>
        <label for="file">Select file</label>
        <input id="file" type="file" v-on:change="fileSelected"/>

        <label for="epsg">Map projection (<a href="https://epsg.io/">EPSG code</a>)</label>
        <input id="epsg" type="text" v-model="epsg" placeholder="EPSG code" />

        <button
          class="button-primary"
          v-bind:disabled="!this.files.length"
          type="button"
          v-on:click="loadFile"
          v-bind:title="!this.files.length ? 'Select a file first' : 'Load selected file'">
          {{!loading ? 'Load' : 'Loading...'}}
        </button>
    </form>
  </script>

  <script type="text/x-template" id="file-info-template">
    <div>
      <div v-if="!error && file">
        <h4>{{name}}</h4>
        <button
          ref="geoJsonLink"
          class="button button-outline"
          v-bind:disabled="!name || error"
          type="button"
          v-on:pointerdown="downloadGeoJson"
          title="Download as GeoJSON">
          <i class="im im-download"></i> GeoJSON
        </button>
        <h5>General</h5>
        <dl>
          <dt>OCAD version</dt><dd>{{file && file.header.version}}.{{file && file.header.subVersion}}.{{file && file.header.subSubVersion}}</dd>
          <dt>Total number objects</dt><dd>{{file && file.objects.length}}</dd>
        </dl>
        <h5>CRS</h5>
        <dl v-if="crs">
          <dt>Scale</dt><dd>1:{{crs.m}}</dd>
          <dt>Northing</dt><dd>{{crs.y}}</dd>
          <dt>Easting</dt><dd>{{crs.x}}</dd>
        </dl>
        <p v-else>Not defined</p>
      </div>
      <div v-if="error">
        <p>O noes, an error occured :(</p>
        <blockquote>{{error}}</blockquote>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="map-view-template">
    <div class="map" ref="mapContainer"></div>
  </script>

  <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
  <script src="bundle.js"></script>
</body>
</html>